.dh-navbar-container:not(.uk-navbar-transparent) {
    background: var(--color-gradient);
}

.uk-search-icon {
  color: #ffffff !important;
}


/* Animation */
.animate-notification {
  animation: shake-horizontal 1s;
}

@keyframes shake-horizontal {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  90% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
