<footer>
  <div class="uk-container uk-container-expand uk-background-secondary">
    <div
      class="uk-navbar-container dh-navbar-container uk-navbar-sticky uk-navbar-transparent uk-padding-small uk-padding-remove-left uk-padding-remove-right">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="docs/">
            <img src="images/logo-mb.png" width="50" alt="Logo">
          </a>
          <p>© {{ currentYear }} Mercado Bitcoin. Todos os direitos reservados.</p>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <a [href]="repository" target="_blank">
                <span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: github"></span>
                Github
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
