/* Global Variables */
:root {
  --color: #ef4723;
  --color-hover: #fde7e2;
  --color-active: #f58870;
  --color-hover-primary: #b52b0d;
  --color-active-primary: #691908;
  --color-gradient: linear-gradient(to left, #ed5815, var(--color));
  --button-font-size-small: 0.75rem;
}

/* Mixins */
@mixin button-states($bg-color, $text-color) {
  background: $bg-color;
  color: $text-color;

  &:hover {
    background-color: var(--color-hover);
    color: var(--color);
  }

  &:active {
    background-color: var(--color-active);
    color: var(--color);
  }
}

/* Button Styles */
.uk-button {
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid transparent;

  &-small {
    font-size: var(--button-font-size-small);
  }

  &-primary {
    @include button-states(var(--color), #eaebeb);

    &:hover {
      background-color: var(--color-hover-primary);
    }

    &:active {
      background-color: var(--color-active-primary);
    }
  }

  &-secondary {
    @include button-states(#fff, var(--color));
    border-color: var(--color);
  }

  &-tertiary {
    @include button-states(#fff, var(--color));

    a {
      color: var(--color) !important;
    }
  }

  &-transparent {
    @include button-states(transparent, var(--color));
    font-size: var(--button-font-size-small);
    border-color: #fff;
    color: #fff;
  }
}

.uk-icon-button {
  @include button-states(#fff, var(--color));
  border-color: var(--color);
}

/* Grouped Styles */
.uk-button-group > .uk-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.uk-button-group .uk-inline .uk-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Table Hover */
.uk-table-hover tbody tr:hover td,
.uk-table-hover tbody tr:hover th {
  background-color: var(--color-hover) !important;
}

/* Search Input */
.uk-search-input-border {
  border-radius: 8px;
  outline: 1px solid;

  &:focus {
    outline: 2px solid;
    border-color: black !important;
  }
}

/* Tabs */
.uk-tab > .uk-active > a {
  font-weight: bold;
  border-color: var(--color) !important;
}

/* Notifications */
.uk-notification-message {
  font-size: medium;

  &.uk-notification-message-primary {
    color: var(--color) !important;
  }
}

/* Favorites */
.favorite {
  &:hover,
  &.uk-active {
    color: var(--color);
  }
}

/* Utility Classes */
.iframe {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sortable {
  cursor: pointer;
  user-select: none;
}
