<footer>
  <div class="uk-container uk-container-expand uk-background-secondary">
    <div
      class="uk-navbar-container dh-navbar-container uk-navbar-sticky uk-navbar-transparent uk-padding-small uk-padding-remove-left uk-padding-remove-right">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="./">
            <img src="images/logo-mb.png" width="50" alt="Logo" class="logo-rotate" [class.rotate]="rotate">
          </a>
          <p class="uk-text-left">
            © {{ currentYear }} Mercado Bitcoin. Todos os direitos reservados.
            <br/>
            <span class="uk-text-meta">
              v{{ appVersion }}
              <button
                uk-icon="icon: refresh; ratio:0.7"
                style="cursor: pointer; background: none; border: none; padding: 0;"
                title="Atualizar para a versão mais recente"
                (click)="unregisterServiceWorker()"
                aria-label="Atualizar para a versão mais recente"
                type="button"
              ></button>
            </span>
          </p>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <a [href]="repository" target="_blank" rel="noopener">
                <span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: github"></span>
                Github
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
